/* nav.css */
*{
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; 
    color: white;
    font-family: Arial, sans-serif;
    /* height: 80px; */
    padding: 10px 50px;
}

.logodiv h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #fff;
}

.rightside {
    display: flex;
    align-items: center;
    gap: 20px; 
}

.rightside h3 {
    margin: 0;
    font-size: 1rem;
    color: #fff;
}

.rightside select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    font-size: 1rem;
    cursor: pointer;
}


.rightside select:focus {
    outline: none;
    border-color: #007bff; 
}


.rightside select:hover {
    border-color: #0056b3;
}
select {
     appearance: none; 
     -moz-appearance: none;
      -webkit-appearance: none; 
      background-color: #fff;
       border: 1px solid #ccc;
        padding: 10px; font-size: 16px;
         font-family: Arial, sans-serif; cursor: pointer; 
        background-image: none; 
         display: flex;
         align-items: center;
         justify-content: center;
} 
option 
{ 
    padding: 10px; font-size: 16px; 
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .rightside {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
}
